.navbar {
  color: black;
  background: white;
  position: fixed;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 20px;
}

.img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.navbar li:hover {
  background: #F85359;
  padding: 10px 0px;
  color: white;
  -webkit-transition: all;
  transition: all;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:hover {
  background-color: #F85359;
}

.navbar ul li {
  display: inline;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.image_text {
  position: absolute;
  top: 25%;
  right: 25%;
  color: white;
  text-align: center;
}

.image_text2 {
  position: absolute;
  top: 25%;
  right: 25%;
  color: white;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image_text2 h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  margin: 0 0 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "dm serif display", serif;
}

.image_text h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  margin: 0 0 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "dm serif display", serif;
}

.img_btn {
  text-align: center;
  padding: 5px 0px;
  background-color:  #ef272e;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #F85359;
  border-radius: 15px;
 
}
@media (max-width: 483px) {
  /* Small devices like smartphones */
  .img_btn {
    padding: 5px 0px;
    font-size: 10px;
    float: inline-end;
  }
}

.footer {
  background: #0A2233;
  color: white;
  padding: 80px;
}

.follow li {
  list-style: none;
  display: inline;
  padding: 0 5px;
  margin-right: 20px;
  font-size: 22px;
  border: 1px solid white;
  text-align: center;
  border-radius: 5px;
}

.contact li {
  list-style: none;
  margin-top: 20px;
}

.footer_title {
  padding-left: 18px;
}

.itawa {
  padding-left: 80px;
}

.img {
  padding-left: 70px;
}

.img p {
  font-size: 20px;
}

.copyright {
  border-top: 1px solid rgb(232, 229, 229);
  padding: 20px;
  background-color: #0A2233;
  color: white;
}

.body_agent {
  background: #FFF5F5;
}

.box {
  background: white;
  height: 300px;
  border: 1px solid blanchedalmond;
  padding: 25px;
  width: 650px;
  margin-left: 50px;
}

.cards {
  padding: 20px 50px;

}

.get_intouch_form button:hover {
  background-color: #ef272e;
}

.agent_text {
  padding: 20px 10px;
}



.building:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.plan_img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
}

.building p {
  font-size: 18px;
  font-weight: 400;
}

.building_image {
  justify-content: center;
  margin: auto;
}

h2 h1 h3 h4 h5 h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
}

p {
  font-size: 18px;
  margin-top: 20px;
}

.project {
  
  background-color: #F8F8F9;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
 

.plan_img {
  border: 1px solid rgb(213, 211, 211);
  border-radius: 5px;
  height: 300px;
  width: 300px;
  margin-top: 30px;
  -webkit-mask-box-image-outset: 1px;
          mask-border-outset: 1px;
  justify-content: space-around;
}


.about {
  margin: 25px 150px;
}

.get_intouch_form {
  border: 1px solid rgb(234, 232, 232);
  text-align: center;
  height: auto;
  width: 500px;
  margin-left: 100px;
}

.about h3 {
  color: #F85359;
}

.property {
  padding: 15px;
  margin: 10px;
}

.gallery {
  background-color: #F8F8F9;
  padding: 25px 180px;
}

.get_intouch {
  border-bottom: 2px solid #F85359;
  background: #FFF5F5;
}

.get_intouch_form input {
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid rgb(165, 166, 167);
  width: 400px;
  padding: 8px;
}

textarea {
  border-radius: 10px;
  border: 1px solid rgb(165, 166, 167);
  padding: 10px;
}

.get_intouch_form button {
  background-color: #F85359;
  border-radius: 10px;
  width: 400px;
  padding: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.gallery_img {
  margin-bottom: 35px;
}

.follow li:hover {
  color: #ef272e;
  border-color: #ef272e;
  background: white;
}/*# sourceMappingURL=style.css.map */

